{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title><i class="fas fa-user-secret"></i>&nbsp;&nbsp;&nbsp;THE GALLERIA - {{title}}</title>
    {% else %}
    <title>THE GALLERIA </title>
    <link rel="icon" type="image/x-icon" href="/static/css/user-secret.svg"> {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/baseg.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Exo+2&family=Playball&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> {% endblock %}

</head>

<body>
    {% include "navbar.html" %} {% block content %} {%endblock%} {% block scripts %}
    <script src="{% static '/js/scripts.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
</body>

</html>